<!DOCTYPE html>
<html>
<head>
	<title>HiJiko首页</title>
	  <meta charset="utf-8">
	  <meta http-equiv="cache-control" content="no-cache"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../module/bootstrap/css/bootstrap.min.css">  
	<link rel="stylesheet" type="text/css" href="../module/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../module/fontAwesome/css/font-awesome.min.css">
	<script type="text/javascript" src="../module/tether/js/tether.min.js"></script>
<link href="../page/common/common.css?8dbcaf9515fe18c24968" rel="stylesheet"></head> 
<body>
<div>
	<form>
  <label for="slider-1">Slider with tooltip:</label>
  <input type="range" name="slider-1" id="slider-1" min="0" max="100" value="50" data-popup-enabled="true">
	</form>
</div>
			<script src="../module/fastclick/fastclick.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../module/jqueryMobile/jquery.mobile.custom.js"></script>
 
<script type="text/javascript" src="../page/common/index.js?8dbcaf9515fe18c24968"></script></body>